<div class="heading">You want: <%=@tag %> ! <span class="back"></div>
<div class="tagshow">
  <% @plugs.each do |plug| %>
    <p class="tagPlugs">
      <%= link_to plug.restaurant, plug %>
    </p>
  <% end %>

  <p class="back">
    <%= link_to "Home", plugs_path %>
  </p>

</div>
