/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
}

body {
  background-color: #ff0f5;
}

header {
  height: 2em;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  color: #CDE559;
  text-align: center;
}

header li {
  list-style:none;
  display: inline block;
}

main {
  padding-top: 25px;
}

.restaurant,
.tagbox {
  margin: 0 1em;
  padding: 2em;
  background-color: #7CA8C8;
  columns: 5 180px;
  column-gap: 2em;
  -webkit-columns: 5 180px;
  -moz-columns: 5 180px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
}

.eachRestaurant,
.tagnames {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

a {
  text-decoration:none;
  color: #fef;
}

a:hover {
  text-decoration: underline;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

.plugshow,
.tagshow {
  font-family: 'Raleway', sans-serif;
  margin: 40px auto;
  width: 50%;
  text-align: center;
}

.plugInfo {
  padding-bottom: 1em;
}
.plugSection {
  background-color: #66cccc;
}

.plugTags,
.tagPlugs {
  /*background-color: #d8e4d4;*/
  margin: 1em 0;
}

.plugTags a,
.tagPlugs a {
  color: tomato;
}

.back a {
  color: #66cccc;
}

#restaurant{
  font-size: 2em;
  padding-bottom: .3em;
}
