/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
}

body {
  background-color: #ff0f5;
}

nav {
  background-color: #CDE559;
  height: 2em;
  font-family: monospace;
  font-size: 2em;
}

.restaurant {
  margin: 0 1em;
  padding: 2em;
  background-color: #7CA8C8;
  columns: 5 180px;
  column-gap: 2em;
  -webkit-columns: 5 180px;
  -moz-columns: 5 180px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
}

.eachRestaurant {
  font-family: Georgia;
  font-size: 16px;
}

a {
  text-decoration:none;
  color: #fef;
}

a:hover {
  text-decoration: underline;
}


.heading {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}
