<div class="restaurant">
  <% @plugs.each do |plug| %>
    <div class="eachRestaurant">
      <%= link_to plug.restaurant, plug %>
    </div>
  <% end %>
</div>

<div class="heading">Get Your Fix</div>

<div class="tagbox">
  <% @tags.each do |tag| %>
  <div class="tagnames">
    <%= link_to tag.name, tag_path(tag.name) %>
  </div>
  <% end %>
</div>
