<!DOCTYPE html>
<html>
<head>
  <title>Where Would Sylvia Go?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href='https://fonts.googleapis.com/css?family=Vidaloka|Raleway|Abril+Fatface' rel='stylesheet' type='text/css' >
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li>
        <h1>Where would Silvia go?<h1>
      </li>
    </ul>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
